<link phx-track-static rel="stylesheet" href={~p"/assets/app.css"}>


<body>
<div class="form-page-container">
    <h1 class="form-title">Analyse des Couleurs</h1>
    <p class="form-introduction">
      Utilisez ce formulaire pour soumettre une URL. Notre système analysera les couleurs principales présentes dans les images du site web et vous fournira les résultats de l'analyse.
    </p>
    <div class="form-container">
      <form action="/form/submit" method="post">
        <input type="hidden" name="_csrf_token" value={@csrf_token} />
        <div class="form-group">
          <label for="url_input">URL du site web :</label>
          <input type="url" id="url_input" name="sample_input" placeholder="https://www.google.com/" class="form-input" pattern="https?://.+" title="L'URL doit commencer par http:// ou https://" required>
        </div>
        <button type="submit" class="form-button">Analyser</button>
      </form>
    </div>
  </div>
</body>
