

/* This file is for your main application CSS */


/* Form */
html {
    height: 100%;
  }
body {
    min-height: 100%;
    font-family: Arial, sans-serif;
    background-color: #63B5C1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-page-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-title {
    text-align: center;
    color: #333;
  }
  
  .form-introduction {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
    font-size: 16px;
  }
  
  .form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .form-button {
    display: block;
    width: 100%;
    background-color: #0056b3;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-button:hover {
    background-color: #003d82;
  }
  
  
  /* results */

  .results-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .color-list {
    list-style: none;
    padding: 0;
  }
  
  .color-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  .color-description {
    flex-grow: 1;
  }

  .color-item:last-child {
    margin-bottom: 0;
  }
  
  .color-preview {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 15px;
    border: 1px solid #ddd;
    
  }
  /* Error */
  .error-message {
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    text-align: center;
    justify-content: center; /* Centre le contenu du div horizontalement pour les éléments flex */
    align-items: center;
  }
  